{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger text-center text-red-700 bg-red-100 border border-red-700 rounded-lg mx-auto w-fit p-2 mt-10 font-semibold">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ logout_path() }}">Se déconnecter</a>
            </div>
        {% endif %}

        <h1 class="font-bold text-center text-2xl my-10">Se connecter</h1>
        <div class="flex flex-col pb-5 mx-auto max-w-md rounded-2xl shadow-md shadow-blue-700 items-center space-y-4 font-semibold bg-[#F7F7F7]">
            <div class="grid grid-cols-2 w-full items-center  rounded-t-2xl">
                <h2 class="text-xl text-center p-3 rounded-tl-2xl">Se connecter</h2>
                <a href="{{ path('app_register')}}"><h2 class="bg-linear-to-t from-sky-500 to-blue-700 hover:shadow-md hover:shadow-black text-white text-xl text-center p-3 rounded-tr-2xl rounded-bl-2xl">S'inscrire</h2></a>
            </div>
            <div class="grid grid-cols-3 gap-5 items-center mx-5">
                <label for="username">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="col-span-2 mt-1 block w-full bg-white border border-blue-700 rounded-md text-black px-2" autocomplete="email" required autofocus>
                <label for="password">Password</label>
                <input type="password" name="_password" id="password" class="col-span-2 mt-1 block w-full bg-white border border-blue-700 rounded-md text-black px-2" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
            </div>

            <div class="checkbox mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Rester connecté</label>
            </div>
            <button class="bg-linear-to-t from-sky-500 to-blue-700 hover:shadow-md hover:shadow-black text-white font-semibold rounded-3xl px-3 py-2 text-sm cursor-pointer" type="submit">
                Connexion
            </button>
        </div>
    </form>
{% endblock %}
