{% extends 'base.html.twig' %}
{% block title %}Tous les produits{% endblock %}
{% block body %}
    <section class="flex w-full">
        <div data-controller="filters" class="mb-10">
            <button data-action="filters#open" class="md:hidden fixed top-20 z-2 mt-5 ml-5 cursor-pointer rounded-full bg-white border border-sky-500 w-10 h-10">
                <i class="fa-solid fa-sliders"></i>
            </button>
            <form id="filtersForm" method="get" action="{{ path('app_products_all') }}" data-action="change->filters#submit" class="hidden fixed inset-0 z-5 top-20 bg-white p-5 overflow-y-auto md:relative md:block md:inset-auto md:z-auto md:w-3xs md:rounded-br-3xl md:shadow-md md:shadow-blue-700">
                <button data-action="filters#close" class="md:hidden mb-5 cursor-pointer rounded-full bg-white border border-sky-500 w-10 h-10">
                    <i class="fa-solid fa-xmark"></i>
                </button>

                <h2 class="font-semibold text-lg">Trier par :</h2>
                <select name="sort" class="mt-2 p-2 border border-gray-300 rounded-2xl text-sm">
                    <option value="">-- Sélectionner --</option>
                    <option value="price_asc" {{ sort == 'price_asc' ? 'selected' }}>Prix : du - cher au + cher</option>
                    <option value="price_desc" {{ sort == 'price_desc' ? 'selected' }}>Prix : du + cher au - cher</option>
                    <option value="title_asc" {{ sort == 'title_asc' ? 'selected' }}>Titre : de A à Z</option>
                    <option value="title_desc" {{ sort == 'title_desc' ? 'selected' }}>Titre : de Z à A</option>
                </select>

                <h2 class="font-semibold text-lg mt-10">Filtrer par :</h2>
                <ul class="flex flex-col gap-3 text-sm">
                    {% for group in optionGroups %}
                        <li class="mt-2">
                            <h3 class="font-medium text-md mb-2 text-blue-700">{{ group.name }}</h3>
                            <ul class="flex flex-col gap-2 max-h-40 overflow-y-auto">
                                {% for option in group.optionValues %}
                                    <li>
                                        <label class="flex items-center gap-2 cursor-pointer">
                                        <input type="checkbox" name="filters[{{ group.id }}][]" value="{{ option.id }}" class="rounded" {% if filters[group.id] is defined and option.id in filters[group.id] %}checked{% endif %}>
                                        <span>{{ option.value }}</span>
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </form>
        </div>        
        <div class="my-10 px-5 flex-1">
            <h1 class="font-bold text-2xl text-center mb-10">
                {% if query %}
                    Résultats pour "{{ query }}"
                {% else %}
                    Tous les produits
                {% endif %}
            </h1>
            <div class="grid grid-cols-[repeat(auto-fill,minmax(200px,1fr))] items-center gap-2">
            {% for row in products %}
                {% set product = row[0] %}
                <article class="rounded-3xl flex flex-col justify-between items-center bg-[#F7F7F7] border border-sky-500 hover:shadow-md hover:shadow-blue-700 h-[250px] overflow-hidden">
                    <a href="{{ path('app_products_detail', {id: product.id, slug: product.slug }) }}" class="w-full overflow-hidden h-3/5">
                        {% if product.images|length > 0 %}
                            <img src="{{ asset('uploads/' ~ product.images|first) }}" alt="{{ product.title }}" class="object-cover w-full h-full">
                        {% else %}
                            <img src="{{ asset('uploads/no-photo.jpg') }}" alt="Image par défaut" class="object-cover w-full h-full">
                        {% endif %}
                    </a>
                    <div class="flex flex-col justify-between w-full h-2/5 bg-[#F7F7F7] border-t border-sky-500 py-3">
                        <h3 class="w-full px-5 text-black text-sm font-semibold text-center line-clamp-1">
                            {{ product.title }}
                        </h3>
                        {% set rating = ratings[product.id] ?? null %}
                        <div class="flex items-center gap-2">
                            <div class="text-yellow-500 text-xs">
                                {% set avg = rating.averageRating|default(0) %}
                                {% for i in 1..5 %}
                                    {% if i <= avg|round(0, 'floor') %}
                                        <i class="fa-solid fa-star"></i>
                                    {% else %}
                                        <i class="fa-regular fa-star"></i>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <span class="text-sm text-gray-500">
                                ({{ rating.reviewCount|default(0) }})
                            </span>
                        </div>
                        <p class="flex justify-end items-center gap-2 px-5 {% if product.stock > 0 %}font-semibold text-md{% else %} text-red-700 text-xs font-normal{% endif %}">
                            {% if product.stock > 0 %}
                                {% if product.productVariants|length > 1 %}
                                    <span class="text-xs font-normal">A partir de </span>
                                {% endif %}
                                {{ product.price|number_format(2, ',', ' ') }} €
                            {% else %}
                                Rupture de stock
                            {% endif %}
                        </p>
                    </div>
                </article> 
            {% endfor %}               
            </div>
        </div>
    </section>
{% endblock %}
